{% extends "main.html" %}

{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
      <label class="username">Nom</label><br>
      {{ form.username }}<br><br>
      <label class="password">Mot de passe</label><br>
      {{ form.password }}<br><br>
  <input type="submit" value="valider" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->
<p><a href="{% url 'connection' %}">Annuler</a></p>
{% endblock %}