{% extends 'main.html' %}
{% block content %}
    {{ instance_ticket.headline }}<br/><br/>
    {{ request.user.body }}<br/><br/>
    {{ instance_ticket }}<br/><br/>
    <small>Ecrit le {{ instance_ticket.time_created }}</small>


    {% if form.instance.id %}
        <form method="POST" action="{% url 'addreview' id_review=form.instance.id %}">
    {% else %}
        <!--<form method="POST" action="{% url 'addreview'%}">-->
    {% endif %}

{% csrf_token %}
{{ form }}
<input type="submit">
</form>
{% endblock %}