{% extends 'main.html' %}

{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div id="block1">
    <p>{{ instance_ticket.user }} a demandé une critique</p>
    <p>{{ instance_ticket.title}}</p>
    <p>{{ instance_ticket.content }}</p>
    {% if instance_ticket.image %}
        <p><img src="{{instance_ticket.image.url}}" alt="{{instance_ticket.titre}}" style="width: 200px; height: 200px;"></p>
    {% endif %}
    <p><small>{{ instance_ticket.time_created }}</small></p>
</div>

<form method="POST" action="{% url 'addreview' id_review=form.instance.id %}">
{% csrf_token %}
<div id="block1">
    {{ form }}
</div>
<input type="submit">
</form>
{% endblock %}