{% extends 'main.html' %}

{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    {% if form.instance.id %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'addticket' id_ticket=form.instance.id %}">
    {% else %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'addticket'%}">
    {% endif %}
{% csrf_token %}
<div id="block1">
    {{ form }}
        <input type="submit">
    </form>
</div>
{% endblock %}