{% extends 'main.html' %}

{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    {% if form.instance.id %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'addticket' id_ticket=form.instance.id %}">
    {% else %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'addticket'%}">
    {% endif %}
{% csrf_token %}
<div id="block1">


    {{form}}
    <!--<h4>Demander une critique</h4>
    <label class="title">Titre</label><br>
    {{ form.title }}<br><br>
    <label class="title">Description</label><br>
    {{ form.content }}<br><br>
    <label class="title">Image</label><br>
    {{ form.image }}<br><br>-->
    <input type="submit">
    </form>
</div>
{% endblock %}