{% extends 'main.html' %}

{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<table>
    <tr><td><a href="{% url 'addticket' %}">Demander une critique</a> |
    <a href="{% url 'addtandr' %}">Créer une critique</a></td></tr>
</table><br>

{% for post in posts %}
    <div id="block1">
    {% if post.content_type == 'TICKET' %}
    
        <p>{{ post.user }} a demandé une critique</p>
        <p>{{ post.title}}</p>
        <p>{{ post.content }}</p>
        {% if post.image %}
            <p><img src="{{post.image.url}}" alt="{{post.titre}}" style="width: 200px; height: 200px;"></p>
        {% endif %}
        <p><small>{{ post.time_created }}</small></p>
        {% if post.response == False %}
            <a href="{% url 'linkreview' id_ticket=post.id %}">Ecrire une critique</a>
        {% endif %}

    {% elif post.content_type == 'REVIEW' %}
    
        <p>{{ post.user }} a écrit une critique</p>
        <p>{{ post.headline }}</p>
        <p>{{ post.rating }}</p>
        <p>{{ post.body }}</p>
        <p><small>{{ post.time_created }}</small></p>

        <div id="block2">
            <p>{{ post.ticket.user }} a demandé une critique</p>
            <p>{{ post.ticket.title}}</p>
            <p>{{ post.ticket.content }}</p>
                {% if post.ticket.image %}
                    <p><img src="{{post.ticket.image.url}}" alt="{{post.ticket.titre}}" style="width: 200px; height: 200px;"></p>
                {% endif %}
                <p><small>{{ post.ticket.time_created }}</small></p>
        </div>
    
    {% endif %}
    </div>
{% endfor %}
{% endblock %}
