{% extends 'main.html' %}

{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div id="block1">
    <p>Vous êtes en train de poster en réponse à :</p>
    <div id="block2">
    <p>{{ instance_ticket.user }} a demandé une critique</p>
    <p>{{ instance_ticket.title}}</p>
    <p>{{ instance_ticket.content }}</p>
    {% if instance_ticket.image %}
        <p><img src="{{instance_ticket.image.url}}" alt="{{instance_ticket.titre}}" style="width: 200px; height: 200px;"></p>
    {% endif %}
    <p><small>{{ instance_ticket.time_created }}</small></p>
    </div>
</div>

<form method="POST" action="{% url 'linkreview' id_ticket=instance_ticket.id %}">
{% csrf_token %}
<div id="block1">
    <h4>Critique</h4>
    <label class="title">Titre</label><br>
    {{ form.headline }}<br><br>
    <div id="button-rating">
        <label class="title">Note</label><br>
        <input type="radio" name="tabs" value="0"  id="0" checked="checked"/>
        <label for="toggle-tab3">0</label>
        <input type="radio" name="tabs" value="1" id="1"/>
        <label for="toggle-tab1">1</label>
        <input type="radio" name="tabs" value="2" id="2"/>
        <label for="toggle-tab2">2</label>
        <input type="radio" name="tabs" value="3"  id="3"/>
        <label for="toggle-tab3">3</label>
        <input type="radio" name="tabs" value="4"  id="4"/>
        <label for="toggle-tab3">4</label>
        <input type="radio" name="tabs" value="5"  id="5"/>
        <label for="toggle-tab3">5</label>
    </div>>
    <label class="title">Commentaire</label><br>
    {{ form.body }}<br><br>
</div>
<input type="submit">
</form>
{% endblock %}