{% extends 'main.html' %}
{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div id="block1">
    {% if user.is_authenticated %}
        <p>Bienvenue, {{ user.username }} !</p>
        <a href="{% url 'feed' %}">ENTRER</a><br>
        <a href="{% url 'logout'%}"> Se déconnecter</a>
    {% else %}
        <a href="{% url 'login'%}">Se connecter</a><br>
        <a href="{% url 'register'%}">Creer un compte</a>
    {% endif %}
</div>
{% endblock %}