{% extends 'main.html' %}
{% load static %}
{% block addcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    Page de connection <br>
    
    {% if user.is_authenticated %}
        Bienvenue, {{ user.username }} !<br>
        <a href="{% url 'feed' %}">ENTRER</a><br>
        <a href="{% url 'logout'%}"> Se déconnecter</a><br>
    {% else %}
        <a href="{% url 'login'%}">Se connecter</a><br>
        <a href="{% url 'login'%}">Creer un compte</a><br>
    {% endif %}

    </form>
    <a href="{% url 'register' %}">Ajouter un user</a>
    
{% endblock %}