{% extends 'main.html' %}

{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div id="block1">
    <form method="POST" action="{% url 'register'%}">
    {% csrf_token %}
    <h4>S'enregistrer</h4>
    <label class="username">Nom</label><br>
    {{ form.username }}<br><br>
    <label class="password">Mot de passe</label><br>
    {{ form.password }}<br><br>
    <label class="password">Confirmer mot de passe</label><br>
    {{ form.first_name }}<br><br>
        <input type="submit">
    </form>
</div>
<p><a href="{% url 'connection' %}">Annuler</a></p>
{% endblock %}