{% extends 'main.html' %}

{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div id="block1">
    <p>Mes Abonnements</p>
    {% for usersfollow in usersfollows %}
        <li>{{ usersfollow.followed_user }} 
        <a href="{% url 'delete_subs' id_subs=usersfollow.id%}">Se désabonner</a></li>
    {% endfor %}
</div>
<div id="block1">
    <p>Mes Abonnés</p>
    {% for followed in followeds %}
        <li>{{ followed.user }} 
    {% endfor %}
</div>
<div id="block1">
    <p>Ajouter un abonnements</p>
    <form method="POST" action="{% url 'subscription'%}">
    {% csrf_token %}
    {{ form }}
        <input type="submit">
    </form>
</div>
{% endblock %}