<html>
<head>
    <title>LITReview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    {% block addcss %}
    {% endblock %}
</head>

<body>
<div class="jumbotron">
    <div id="bloc_page">
        <h2>LITReview</h2>
        {% if user.is_authenticated %}
            Vous êtes connecté, {{ user.username }} !
            <div id="banner">
                <a href="{% url 'feed'%}">Mon Flux</a> |
                <a href="{% url 'myposts'%}">Mes Tickets/Critiques</a> |
                <a href="{% url 'subscription'%}">Mes abonnements</a> |
                <a href="{% url 'logout'%}">Se déconnecter</a>
            </div>
        {% else %}
            <a>Site de critiques littéraires</a>
        {% endif %}
    </div>
</div>
<div id="bloc_page">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>